@import url("https://fonts.googleapis.com/css?family=Open + Sans:400, 700");
body {
  background-color: #2f3439;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: white;
  line-height: 1.5;
  font-size: 18px;
  word-spacing: 0.125em; }

h2 {
  line-height: 1;
  margin-top: 1.5em;
  margin-bottom: 0.5em; }

span {
  display: inline-block;
  margin-right: 5px;
  font-size: 58px; }

.brand--primary {
  color: #a90100; }

.brand--primary-l30 {
  color: #c34d4d; }

.brand--primary-d30 {
  color: #760100; }

.brand--primary-l50 {
  color: #d48080; }

.brand--primary-d50 {
  color: #550100; }

.brand--primary-l70 {
  color: #e5b3b3; }

.brand--primary-d70 {
  color: #330000; }

.brand--primary-l90 {
  color: #f6e6e6; }

.brand--primary-d90 {
  color: #110000; }

.brand--secondary {
  color: #2c3e4f; }

.brand--secondary-l30 {
  color: #6b7884; }

.brand--secondary-d30 {
  color: #1f2b37; }

.brand--secondary-l50 {
  color: #969fa7; }

.brand--secondary-d50 {
  color: #161f28; }

.brand--secondary-l70 {
  color: #c0c5ca; }

.brand--secondary-d70 {
  color: #0d1318; }

.brand--secondary-l90 {
  color: #eaeced; }

.brand--secondary-d90 {
  color: #040608; }

.brand--tertiary {
  color: #e3e8ec; }

.brand--tertiary-l30 {
  color: #ebeff2; }

.brand--tertiary-d30 {
  color: #9fa2a5; }

.brand--tertiary-l50 {
  color: #f1f4f6; }

.brand--tertiary-d50 {
  color: #727476; }

.brand--tertiary-l70 {
  color: #f7f8f9; }

.brand--tertiary-d70 {
  color: #444647; }

.brand--tertiary-l90 {
  color: #fcfdfd; }

.brand--tertiary-d90 {
  color: #171718; }

.brand--quaternary {
  color: #698bab; }

.brand--quaternary-l30 {
  color: #96aec4; }

.brand--quaternary-d30 {
  color: #4a6178; }

.brand--quaternary-l50 {
  color: #b4c5d5; }

.brand--quaternary-d50 {
  color: #354656; }

.brand--quaternary-l70 {
  color: #d2dce6; }

.brand--quaternary-d70 {
  color: #202a33; }

.brand--quaternary-l90 {
  color: #f0f3f7; }

.brand--quaternary-d90 {
  color: #0b0e11; }

.rag--red {
  color: #b64638; }

.rag--red-l30 {
  color: #cc7e74; }

.rag--red-d30 {
  color: #7f3127; }

.rag--red-l50 {
  color: #dba39c; }

.rag--red-d50 {
  color: #5b231c; }

.rag--red-l70 {
  color: #e9c8c3; }

.rag--red-d70 {
  color: #371511; }

.rag--red-l90 {
  color: #f8edeb; }

.rag--red-d90 {
  color: #120706; }

.rag--blue {
  color: #3184d4; }

.rag--blue-l30 {
  color: #6fa9e1; }

.rag--blue-d30 {
  color: #225c94; }

.rag--blue-l50 {
  color: #98c2ea; }

.rag--blue-d50 {
  color: #19426a; }

.rag--blue-l70 {
  color: #c1daf2; }

.rag--blue-d70 {
  color: #0f2840; }

.rag--blue-l90 {
  color: #eaf3fb; }

.rag--blue-d90 {
  color: #050d15; }

.rag--amber {
  color: #d6902e; }

.rag--amber-l30 {
  color: #e2b16d; }

.rag--amber-d30 {
  color: #966520; }

.rag--amber-l50 {
  color: #ebc897; }

.rag--amber-d50 {
  color: #6b4817; }

.rag--amber-l70 {
  color: #f3dec0; }

.rag--amber-d70 {
  color: #402b0e; }

.rag--amber-l90 {
  color: #fbf4ea; }

.rag--amber-d90 {
  color: #150e05; }

.rag--green {
  color: #559a47; }

.rag--green-l30 {
  color: #88b87e; }

.rag--green-d30 {
  color: #3c6c32; }

.rag--green-l50 {
  color: #aacda3; }

.rag--green-d50 {
  color: #2b4d24; }

.rag--green-l70 {
  color: #cce1c8; }

.rag--green-d70 {
  color: #1a2e15; }

.rag--green-l90 {
  color: #eef5ed; }

.rag--green-d90 {
  color: #090f07; }

.rag--yellow {
  color: #fece25; }

.rag--yellow-l30 {
  color: #fedd66; }

.rag--yellow-d30 {
  color: #b2901a; }

.rag--yellow-l50 {
  color: #ffe792; }

.rag--yellow-d50 {
  color: #7f6713; }

.rag--yellow-l70 {
  color: #fff0be; }

.rag--yellow-d70 {
  color: #4c3e0b; }

.rag--yellow-l90 {
  color: #fffae9; }

.rag--yellow-d90 {
  color: #191504; }

.rag--purple {
  color: #8e6cbb; }

.rag--purple-l30 {
  color: #b098cf; }

.rag--purple-d30 {
  color: #634c83; }

.rag--purple-l50 {
  color: #c7b6dd; }

.rag--purple-d50 {
  color: #47365e; }

.rag--purple-l70 {
  color: #ddd3eb; }

.rag--purple-d70 {
  color: #2b2038; }

.rag--purple-l90 {
  color: #f4f0f8; }

.rag--purple-d90 {
  color: #0e0b13; }

.rag--white {
  color: #f7f7f7; }

.rag--white-l30 {
  color: #f9f9f9; }

.rag--white-d30 {
  color: #adadad; }

.rag--white-l50 {
  color: #fbfbfb; }

.rag--white-d50 {
  color: #7c7c7c; }

.rag--white-l70 {
  color: #fdfdfd; }

.rag--white-d70 {
  color: #4a4a4a; }

.rag--white-l90 {
  color: #fefefe; }

.rag--white-d90 {
  color: #191919; }

.rag--black {
  color: black; }

.rag--black-l30 {
  color: #4d4d4d; }

.rag--black-d30 {
  color: black; }

.rag--black-l50 {
  color: gray; }

.rag--black-d50 {
  color: black; }

.rag--black-l70 {
  color: #b3b3b3; }

.rag--black-d70 {
  color: black; }

.rag--black-l90 {
  color: #e6e6e6; }

.rag--black-d90 {
  color: black; }

.rag--teal {
  color: #5eb8c8; }

.rag--teal-l30 {
  color: #8ecdd9; }

.rag--teal-d30 {
  color: #42818c; }

.rag--teal-l50 {
  color: #afdce4; }

.rag--teal-d50 {
  color: #2f5c64; }

.rag--teal-l70 {
  color: #cfeaef; }

.rag--teal-d70 {
  color: #1c373c; }

.rag--teal-l90 {
  color: #eff8fa; }

.rag--teal-d90 {
  color: #091214; }

.rag--pink {
  color: #d23b6b; }

.rag--pink-l30 {
  color: #e07697; }

.rag--pink-d30 {
  color: #93294b; }

.rag--pink-l50 {
  color: #e99db5; }

.rag--pink-d50 {
  color: #691e36; }

.rag--pink-l70 {
  color: #f2c4d3; }

.rag--pink-d70 {
  color: #3f1220; }

.rag--pink-l90 {
  color: #fbebf0; }

.rag--pink-d90 {
  color: #15060b; }

.ofsted--outstanding {
  color: #61b752; }

.ofsted--outstanding-l30 {
  color: #90cd86; }

.ofsted--outstanding-d30 {
  color: #448039; }

.ofsted--outstanding-l50 {
  color: #b0dba9; }

.ofsted--outstanding-d50 {
  color: #315c29; }

.ofsted--outstanding-l70 {
  color: #d0e9cb; }

.ofsted--outstanding-d70 {
  color: #1d3719; }

.ofsted--outstanding-l90 {
  color: #eff8ee; }

.ofsted--outstanding-d90 {
  color: #0a1208; }

.ofsted--good {
  color: #8b94b1; }

.ofsted--good-l30 {
  color: #aeb4c8; }

.ofsted--good-d30 {
  color: #61687c; }

.ofsted--good-l50 {
  color: #c5cad8; }

.ofsted--good-d50 {
  color: #464a59; }

.ofsted--good-l70 {
  color: #dcdfe8; }

.ofsted--good-d70 {
  color: #2a2c35; }

.ofsted--good-l90 {
  color: #f3f4f7; }

.ofsted--good-d90 {
  color: #0e0f12; }

.ofsted--req {
  color: #f6bf58; }

.ofsted--req-l30 {
  color: #f9d28a; }

.ofsted--req-d30 {
  color: #ac863e; }

.ofsted--req-l50 {
  color: #fbdfac; }

.ofsted--req-d50 {
  color: #7b602c; }

.ofsted--req-l70 {
  color: #fceccd; }

.ofsted--req-d70 {
  color: #4a391a; }

.ofsted--req-l90 {
  color: #fef9ee; }

.ofsted--req-d90 {
  color: #191309; }

.ofsted--inadequate {
  color: #b46350; }

.ofsted--inadequate-l30 {
  color: #cb9285; }

.ofsted--inadequate-d30 {
  color: #7e4538; }

.ofsted--inadequate-l50 {
  color: #dab1a8; }

.ofsted--inadequate-d50 {
  color: #5a3228; }

.ofsted--inadequate-l70 {
  color: #e9d0cb; }

.ofsted--inadequate-d70 {
  color: #361e18; }

.ofsted--inadequate-l90 {
  color: #f8efee; }

.ofsted--inadequate-d90 {
  color: #120a08; }

.ofsted--no-grade {
  color: #aaa; }

.ofsted--no-grade-l30 {
  color: #c4c4c4; }

.ofsted--no-grade-d30 {
  color: #777777; }

.ofsted--no-grade-l50 {
  color: #d5d5d5; }

.ofsted--no-grade-d50 {
  color: #555555; }

.ofsted--no-grade-l70 {
  color: #e6e6e6; }

.ofsted--no-grade-d70 {
  color: #333333; }

.ofsted--no-grade-l90 {
  color: #f7f7f7; }

.ofsted--no-grade-d90 {
  color: #111111; }

.status--not-started {
  color: #bc8025; }

.status--not-started-l30 {
  color: #d0a666; }

.status--not-started-d30 {
  color: #845a1a; }

.status--not-started-l50 {
  color: #dec092; }

.status--not-started-d50 {
  color: #5e4013; }

.status--not-started-l70 {
  color: #ebd9be; }

.status--not-started-d70 {
  color: #38260b; }

.status--not-started-l90 {
  color: #f8f2e9; }

.status--not-started-d90 {
  color: #130d04; }

.status--incomplete {
  color: #7688c1; }

.status--incomplete-l30 {
  color: #9facd4; }

.status--incomplete-d30 {
  color: #535f87; }

.status--incomplete-l50 {
  color: #bbc4e0; }

.status--incomplete-d50 {
  color: #3b4461; }

.status--incomplete-l70 {
  color: #d6dbec; }

.status--incomplete-d70 {
  color: #23293a; }

.status--incomplete-l90 {
  color: #f1f3f9; }

.status--incomplete-d90 {
  color: #0c0e13; }

.status--cancelled {
  color: #777; }

.status--cancelled-l30 {
  color: #a0a0a0; }

.status--cancelled-d30 {
  color: #535353; }

.status--cancelled-l50 {
  color: #bbbbbb; }

.status--cancelled-d50 {
  color: #3c3c3c; }

.status--cancelled-l70 {
  color: #d6d6d6; }

.status--cancelled-d70 {
  color: #242424; }

.status--cancelled-l90 {
  color: #f1f1f1; }

.status--cancelled-d90 {
  color: #0c0c0c; }

p {
  color: #b4c5d5; }

/*# sourceMappingURL=style.css.map */
